<div class="all">
	<h1>hello</h1>

	<nav>

		<ul class="nav">
			<li><a href="#">Yoann </a></li>
			<li><a href="#">Louise</a></li>
		</ul>
	</nav>

	<article>
		<h3>CV</h3>

		<h4>Expériences professionnelles</h4>
		<p>blablabla</p>
		<h4>Cursus scolaire</h4>
		<p>blablabla</p>
		<h4>Informations personnelles</h4>
		<p>blablabla</p>
	</article>

	<article>
		<h3>Attentes</h3>
		<h4>Professionnelles</h4>
		<p>blablablass</p>
		<h4>Personnelles</h4>
		<p>blablabla</p>
	</article>

	<article>
		<h3>Compétences</h3>
		<h4>Développement logiciel</h4>
		<p>blablabla</p>
		<h4>Base de Données</h4>
		<p>blablabla</p>
		<h4>Web</h4>
		<p>blablabla</p>
		<h4>BDD</h4>
		<p>blablabla</p>
		<h4>Langues</h4>
		<p>blablabla</p>
		<h4>Autres compétences</h4>
		<p>blablabla</p>
	</article>

	<article>
		<h3>Savoirs faire et savoirs être</h3>
		<h4>Savoirs-Faire</h4>
		<p>blablabla</p>
		<h4>Savoirs-Être</h4>
		<p>blablabla</p>
	</article>

	<article>
		<h3>Personnalité</h3>
		<h4>Esprit</h4>
		<p>blablabla</p>
		<div class="progress"></div>
		<h4>Energie</h4>
		<p>blablabla</p>
		<div class="progress"></div>
		<h4>Nature</h4>
		<p>blablabla</p>
		<div class="progress"></div>
		<h4>Tactique</h4>
		<p>blablabla</p>
		<div class="progress"></div>
		<h4>Identité</h4>
		<p>blablabla</p>
		<div class="progress"></div>
	</article>

	<article>
		<h3>Centres d'intérêt</h3>
		<p>blablabla</p>
	</article>

	<article>
		<h3>Itinéraire professionnel passé</h3>
		<p>blablabla</p>
	</article>

	<article>
		<h3>Influences</h3>
		<p>blablabla</p>
	</article>
</div>
